<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form action="/chats/createRoom" method="post">
    <input type="text" name="name" placeholder="채팅방 이름">
    <button type="submit" >방 만들기</button>
</form>

<table>
    <tr th:each="room : ${roomList}" >
        <td>
            <a th:href="@{chatRoom(roomId=${room.roomId} )}"
               th:text="${room.name}"></a>
        </td>
    </tr>
</table>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        console.log("document.ready");
        getChatList();
    });

    function getChatList() {
        $.ajax({
            type : 'get',           // 타입 (get, post, put 등등)
            url : '/chats',           // 요청할 서버url
            async : true,            // 비동기화 여부 (default : true)
            headers : {              // Http header
                "Content-Type" : "application/json",
                "X-HTTP-Method-Override" : "POST"
            },
            //dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
            data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
                "no" : no,
                "name" : name,
                "nick" : nick
            }),
            success : function(result) { // 결과 성공 콜백함수
                console.log(result);
            },
            error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        });

    }
</script>
</body>
</html>