<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채팅방 리스트</title>
</head>
<body>

<div>
    <a href="/">홈</a>
    <h2>채팅방 목록</h2>
    <p class="username"></p>
    <div>
        <input type="text" class="room-name" placeholder="채팅방 이름">
        <button class="create-room">채팅방 만들기</button>
    </div>
    <div>
        <ul class="room-list">

        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/chat/room_list.js"></script>

</body>
</html>