<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>채팅방 리스트</title>
</head>
<body>
<div>
    <div>
        <input type="text" class="room-name" placeholder="채팅방 이름">
        <button class="create-room">채팅방 만들기</button>
    </div>
    <div>
        <ul class="room-list">

        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        console.log("document.ready");
        getRoomList();
    });



    function getRoomList() {
        $.ajax({
            type : "get",
            url : "/chats/rooms",
            success : function(result) {
                let roomList = result.data;
                console.log(roomList.length);
                let html = ``;
                if (roomList.length < 1) {
                    html = `존재하는 채팅방이 없습니다. 채팅방을 만들어 주세요!`;
                }
                roomList.forEach((room) => {
                    console.log(room);
                    html += `<li>${room.roomName}</li>`;
                });
                $(".room-list").empty();
                $(".room-list").append(html);
            },
            error : function(request, status, error) {
                console.log(error)
            }
        });
    }
</script>
</body>
</html>