<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<div>
    <a href="/">홈</a>
    <h2>회원가입</h2>
    <input type="text" class="email" placeholder="이메일"><br>
    <input type="text" class="name" placeholder="이름"><br>
    <span style="color: grey; font-size: small;">생년월일&nbsp;</span>
    <input type="date" class="birthday"><br>
    <input type="text" class="address" placeholder="주소"><br>
    <input type="password" class="password" placeholder="비밀번호"><br>
    <input type="password" class="verified-password" placeholder="비밀번호 확인">
    <button class="signup">회원가입</button><br><br>
    <a href="/page/login">로그인</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/member/signup.js"></script>

</body>
</html>