<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>

<div>
    <h2>홈</h2>
    <p class="username"></p>
    <ul>
        <li><a href="/page/login">로그인</a></li>
        <li><a href="/page/signup">회원가입</a></li>
        <li><a href="/page/room-list">채팅방 목록</a></li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script>

    $(document).ready(function() {
        setLoginUserInfo();
    });

</script>

</body>
</html>